# Core
django==4.2.7
djangorestframework==3.14.0

# Gmail API
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.108.0

# Environment variables
python-dotenv==1.0.0

# Member 2 will use these:
scikit-learn==1.3.2
pandas==2.1.3

# Member 3 will use these:
spacy==3.7.2

# Utility
requests==2.31.0
